<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center teal-text text-lighten-2">Contact Index</h1>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Погнали</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/static/base/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>