<!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Телефонный справочник. <%- title !== 'undefined' ? title : '' %></title>
        <link href="/static/base/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body>
        <%- include('web/_header.ejs') %>

        <% if ( pagePath ) { %>
            <%- include(pagePath) %>
        <% } %>

        <%- include('web/_footer.ejs') %>
    </body>
</html>
