<footer>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2017 <a class="" href="http://social-auction.ru/">social-auction.ru</a>
        </div>
    </div>
</footer>