<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center teal-text text-lighten-2">404 error</h1>
        </div>
    </div>
    <div class="parallax"><img src="/static/base/img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>